body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul, ol {
  list-style: none;
}

#canvas {
  background-image: url('https://cdn.shopify.com/s/files/1/1038/1798/products/160316-Scene-Header.jpg?v=1525177731');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#xxx {
  background: transparent;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

.actions {
  position: fixed;
  top: 10px;
  left: 30px;
}

.icon {
  width: 2em;
  height: 2em;
  padding: 0.4em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  transition: all 0.3s;
}

#eraser.active {
  fill: #907D67;
  transform: translateX(10px);
}

#pen.active {
  fill: #907D67;
  transform: translateX(10px);
}

#clean.active {
  fill: #907D67;
  transform: scale(0.9);
}

#clean {
  transform: scale(0.9);
}

#save.active {
  fill: #907D67;
}

.colors {
  position: fixed;
  top: 8px;
  left: 50px;
}

.colors>li {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
}

.colors>li.yellow {
  background: #E0AE6E
}

.colors>li.black {
  background: #3A5791
}

.colors>li.red {
  background: #CA7471
}

.colors>li.blue {
  background: #74ADB3
}
